<div class="morecont-m">
    <div class="rs-banner morecont-wrap">
    <div class="container" style="z-index:3;">
        <div class="morecont-inner">
            <h2>Компания «2Ф» предлагает комфортный сервис для покупателей огнезащитных составов</h2>
            <div class="morecont-btn">
                <a class="main-btn-l lay-btn" data-content-type="feedForm" >Задать вопрос</a>
            </div>
        </div>
    </div>
</div></div>