

<section class="advantages" >
    <div class="adv-wrapper">
        <div class="container">
            <div class="row">

              

                    <div class="adv-content">
                        <div class="adv-header"><h2>Наши преимущества</h2></div>
                        <div class="adv-items container">
                            <div class="row">
                                <div class="adv-item  col-xl-3 col-sm-12">
                                    <div class="adv-item__icon"><img src="~/site/img/washing-machine.png" /></div>
                                    <div id="section_3"></div>
                                </div>
                                <div class="adv-item  col-xl-3 col-sm-12">
                                    <div class="adv-item__icon"><img src="~/site/img/detergent.png" /></div>
                                    <div id="section_4"></div>
                                </div>
                                <div class="adv-item  col-xl-3 col-sm-12">
                                    <div class="adv-item__icon"><img src="~/site/img/coin.png" /></div>
                                    <div id="section_5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
              
            </div>
        </div>
    </div>
</section>
