
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="contacts-wrap rs-banner">
    <div class="container" >
        <div class="cont-wrap-inner">
        <div class="row">
            <h2>Информация</h2>
            <div class="cw-item col-12">     @await Component.InvokeAsync("StaticSections", new { type = 3})</div>
            <div class="cw-item col-12">     @await Component.InvokeAsync("StaticSections", new { type= 2})</div>
            <div class="cw-item col-12"><a class="lay-btn main-btn-l" href="/pages/contacts">Конакты</a></div>

        </div>
    </div>
        </div>

</div>