@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    var islocal = Context.Request.IsLocalPath() ? false : true;
    var cachedTime = 20;
}
    
<div class="article-wrap">


    <div class="page-layout">
      
    </div>
</div>
