<div class="carousel-wrapper">

    <div class="serv-wrap">
        <div class="serv-m-wrap">
            <div class="sl-arrs" style="display:none;">
                <i class="flaticon-arrows-1"></i>
                <span class="slider-counter"></span>
                <i class="flaticon-arrows"></i>

            </div>
            <div class="s-slider clear-fix">
                <img src="/Content/ajax-loaders/svg-loaders/puff.svg" class="carousel-main__loader" />

            </div>
        </div>
    </div>



</div>