@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещен!";
    Layout = "~/Views/Shared/_PageMenuLayout.cshtml";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">У вас недостаточно прав для указанного ресурса.</p>
</header>
