
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="feed-layout-wrap">
    <div class="container">
        <div class="row">
            <div class="fb-layout_left col-sm-6">
                <div class="fb-layout_header"></div><h2>Обратная связь</h2>
                <div class="fb-layout_btn">
                    <button class="fb-btn" data-content-type="feedForm">Отправить заявку</button>
                </div>
            </div>
           
            <div class="fb-layout_left d-none d-sm-block col-sm-6"><img style="max-height: 300px;" src="~/site/main/woman.jpg" /></div>
        </div>

    </div>
</div>